@import '../../index.scss';

#autosuggest {
    width: 100%;

    border: 1px solid $border;
    border-radius: 0.4rem;


    display: flex;
    align-items: start;
    justify-content: start;

    .react-autosuggest__container {
        margin: 0;
        padding: 0;

        .react-autosuggest__input {
            font-family: Inter;
            width: 100%;
            height: 40px;
            padding: 0 1rem;

            outline: none;
            border: none;
            background-color: transparent;

            font-weight: 500;
            font-size: 18px;

            color: $p;

            &::placeholder {
                font-weight: 500;
                font-size: 18px;
                opacity: .6;
            }
        }

        .react-autosuggest__suggestions-list {
            width: 100%;
            height: 100%;
            padding: 1rem;

            outline: none;
            border: none;
            background-color: $background;
            border-radius: 0.4rem;
            border-bottom: 1px solid $border;

            font-weight: 600;
            font-size: 18px;

            color: $p;

            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            cursor: pointer;
        }
    }
}