@import "../../index.scss";
#post-detail {
  position: relative;
  width: 250px;
  height: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(0.95);
    }
  }
  a {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: 200px;
      border-radius: 1rem;
      border: 3px solid var(--border);
      background: var(--p);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .title-text {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 1rem;

      span,
      h1,
      p {
        color: var(--p);
        margin: 0;
      }

      .category-text {
        color: #fff;
        padding: 0.3rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 14px;

        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }

      h1 {
        font-weight: 700;
        font-size: 28px;
        text-align: start;
        letter-spacing: -1px;
        min-width: 400px;
        justify-content: start;
        gap: 1rem;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        min-height: 10px;
        color: var(--s);
      }
    }
  }
}

@media (max-width: 992px) {
  #post-detail {
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {
      img {
        transform: scale(1);
      }
    }
    a {
      img {
        width: 100%;
        height: 300px;
      }
    }
  }
}
