@import "../../index.scss";

#post-detail {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: start;
  justify-content: start;

  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .left-content {
      img {
        width: 350px;
        height: 250px;
        border-radius: 0.4rem;
        border: 1px solid $border;
        background: var(--p);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-left: 2rem;

      .date-category-text {
        display: flex;
        align-items: center;
        gap: 1rem;

        .category-text {
          color: $p;
          border-radius: 5rem;
          padding: 7px 10px;
          font-family: Inter, sans-serif;
          font-size: 13px;
          font-weight: 600;
          line-height: 1.2;
        }

        .date-text {
          color: $p-2;
          background-color: $p;
          border-radius: 5rem;
          padding: 7px 10px;
          font-family: Inter, sans-serif;
          font-size: 13px;
          font-weight: 600;
          line-height: 1.2;

          display: flex;
          align-items: center;
          gap: 0.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .title-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        word-break: break-all;
        h1,
        p {
          color: $p;
          margin: 0;
        }

        h1 {
          font-size: 28px;
          font-weight: 800;
          color: $p;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          color: $s;
        }
      }

      .read-more {
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $p;
      }

      .body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        em,
        b,
        q {
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          opacity: 0.8;
          width: 400px;
          height: 100%;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #post-detail {
    position: relative;
    width: 100%;
    height: 100%;

    a {
      .wrapper {
        flex-direction: column;

        .left-content {
          img {
            width: 100%;
            height: 300px;
            border-radius: 1rem;
            border: 3px solid $border;
            background: var(--p);
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
        }

        .right-content {
          margin-left: 0;
        }
      }
    }
  }
}
