@import "../../index.scss";

#my-profile {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 50vh;

  padding: 0 600px;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;

  .container {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;

    .profile-photo {
      display: flex;
      align-items: center;
      gap: 3rem;
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid $border;
      }
      .wrapper-text {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 1.5rem;
        h1 {
          width: 100%;
          max-width: 400px;
          color: $p;
          font-size: 36px;
        }
        p {
          width: 100%;
          max-width: 400px;
          color: $p;
          font-size: 16px;
        }
        button {
          color: $p;

          padding: 0.6rem 1rem;
          font-weight: 400;
          border-radius: 3rem;

          background-color: $bg-2;
          border: 1px solid $bg;
          &:hover {
            background-color: $bg;
          }
        }
      }
    }
  }

  form {
    position: absolute;
    width: 0;
    height: 0;
    padding: 1rem;
    border: 1px solid $border;
    background-color: $background;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.103) 0px 0px 0px 1px;
    border-radius: 0.5rem;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    gap: 1rem;
    z-index: 999;

    .close-edit {
      position: relative;
      width: 100%;
      bottom: 25px;

      display: flex;
      justify-content: end;
      cursor: pointer;

      svg {
        color: var(--s);
        transition: all 0.3s;
        &:hover {
          color: $p;
        }
      }
    }

    .image-profile {
      cursor: pointer;

      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 1px solid $border;
        filter: brightness(80%);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      svg {
        position: absolute;
        right: 300px;
        top: 62px;
        font-size: 23px;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &:hover {
        img,
        svg {
          filter: brightness(70%);
        }
      }
    }
    .input-wrapper,
    .label-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
    }
    .label-wrapper {
      flex-direction: column;
    }

    label {
      width: 100%;
      font-size: 18px;
      font-weight: 300;
      color: $p;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 0 1rem;

      outline: none;
      background-color: transparent;
      border-radius: 0.4rem;
      border: 1px solid $border;

      font-size: 18px;
      color: $p;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      margin: 1rem 0;
    }

    button {
      position: relative;
      width: 100%;
      height: 40px;
      margin-bottom: 1rem;

      padding: 0 1rem;

      outline: none;
      border: none;

      background-color: $special;
      border-radius: 0.5rem;
      border: 1px solid $border;

      font-size: 18px;
      color: #fff;

      cursor: pointer;
    }
  }
  .active-modal-edit {
    width: 600px;
    height: 600px;
    padding: 1rem;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  #my-profile {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0 20px;
    margin: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    form {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0rem;
      border: 1px solid $border;
      background-color: $background;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.103) 0px 0px 0px 1px;
      border-radius: 0.5rem;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
      gap: 0rem;
      z-index: 999;

      .close-edit {
        position: relative;
        width: 100%;
        bottom: 25px;

        display: flex;
        justify-content: end;
        cursor: pointer;

        svg {
          color: var(--s);
          transition: all 0.3s;
          &:hover {
            color: $p;
          }
        }
      }

      .image-profile {
        cursor: pointer;

        img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          border: 1px solid $border;
          filter: brightness(80%);
          transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        svg {
          position: absolute;
          right: 300px;
          top: 62px;
          font-size: 23px;
          transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
          img,
          svg {
            filter: brightness(70%);
          }
        }
      }

      label {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        color: $p;
      }
      input {
        width: 100%;
        height: 40px;
        padding: 0 1rem;

        outline: none;
        background-color: transparent;
        border-radius: 0.4rem;
        border: 1px solid $border;

        font-size: 18px;
        color: $p;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        margin: 1rem 0;
      }

      button {
        position: relative;
        width: 100%;
        height: 40px;
        margin-bottom: 1rem;

        padding: 0;

        outline: none;
        border: none;

        background-color: $special;
        border-radius: 0.5rem;
        border: 1px solid $border;

        font-size: 18px;
        color: #fff;

        cursor: pointer;
      }
    }
    .active-modal-edit {
      width: 100%;
      height: 100%;
      padding: 0rem;
      opacity: 1;
    }
  }
}
