@import '../../index.scss';

#user-follow {

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    p {
        color: $p;
        font-weight: 400;
        font-size: 16px;
    }

    button {
        width: fit-content;
        height: 100%;

        outline: none;
        border: none;

        background-color: $mt;
        color: $p;

        padding: 0.6rem 2rem;
        border-radius: 0.4rem;

        font-size: 14px;
        font-weight: 500;

        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
            background-color: $bg-2;
        }
    }
}