@import "../../index.scss";

#home {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2rem 0;

  padding: 0 400px;

  display: flex;
  align-items: start;
  justify-content: start;

  .container {
    position: relative;
    width: 100%;

    flex: 3 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
      width: 100%;
      text-align: start;
      color: $p;
      font-size: 42px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 16px;
      margin-top: 1rem;
    }

    a {
      color: $p;
    }

    .posts {
      position: relative;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .container-right {
    position: sticky;
    width: 100%;
    top: 13.5rem;

    flex: 1 0 0;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;

    form {
      .search-input {
        background-color: $bg;
        border-radius: 5rem;
        border: 1px solid $border;

        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 80px;

          outline: none;
          border: none;
          background-color: transparent;
          border-radius: 0.4rem;

          color: $p;
          cursor: pointer;
        }

        input {
          width: 100%;
          height: 50px;
          padding: 0 1rem;

          outline: none;
          border: none;
          background-color: transparent;
          border-radius: 0.4rem;

          font-size: 1rem;
          color: $p;
          &::placeholder{
            color: $s;
          }
        }
      }
    }
  }

  .btn {
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 80px;
    height: 80px;

    background-color: $p;
    border: 1px solid $border;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  #home {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2rem 0;

    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
      position: relative;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      h1 {
        width: 100%;
        text-align: start;
        color: $p;
        font-size: 42px;
        margin-bottom: 1rem;
      }

      p {
        font-size: 16px;
        margin-top: 1rem;
      }

      a {
        color: $p;
      }

      form {
        position: relative;
        width: 100%;

        .search-input {
          background-color: transparent;
          border-radius: 0.4rem;
          border: 1px solid $border;

          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 60px;

            outline: none;
            border: none;
            background-color: transparent;
            border-radius: 0.4rem;

            color: $p;
            cursor: pointer;
          }

          input {
            width: 100%;
            height: 50px;
            padding: 0 1rem;

            outline: none;
            border: none;
            background-color: transparent;
            border-radius: 0.4rem;

            font-size: 1rem;
            color: $p;
          }
        }
      }

      .posts {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
      }
    }
    .btn {
      position: fixed;
      right: 60px;
      bottom: 60px;
      width: 80px;
      height: 80px;

      background-color: $p;
      border: 1px solid $border;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
