@import "../../index.scss";

#home {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2rem 0;

  padding: 0 300px;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;


  .trending {
    width: 100%;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    span {
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
    }

    .border-trending {
      width: 100%;
      height: 1px;
      background-color: $p;
      opacity: .3;
    }
  }
}


form {
  .search-input {
    background-color: $p;
    border-radius: 2rem;
    border: 1px solid $border;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 100px;

      outline: none;
      border: none;
      background-color: transparent;
      border-radius: 2rem;

      color: $p-2;
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 45px;
      padding: 0 1rem;

      outline: none;
      border: none;
      background-color: transparent;
      border-radius: 0.4rem;

      font-size: 1rem;
      color: $p-2;

      &::placeholder {
        color: $s;
      }
    }
  }
}




@media (max-width: 992px) {
  #home {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2rem 0;

    padding: 0 20px 0 100px;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;


    .trending {
      width: 100%;
      margin: 5rem 0;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      span {
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
      }

      .border-trending {
        width: 100%;
        height: 1px;
        background-color: $p;
        opacity: .3;
      }
    }
  }


  form {
    .search-input {
      background-color: $p;
      border-radius: 2rem;
      border: 1px solid $border;

      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100px;

        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 2rem;

        color: $p-2;
        cursor: pointer;
      }

      input {
        width: 100%;
        height: 45px;
        padding: 0 1rem;

        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 0.4rem;

        font-size: 1rem;
        color: $p-2;

        &::placeholder {
          color: $s;
        }
      }
    }
  }
}