@import'../../index.scss';

.progress-bar-container {
  position: fixed;
  background-color: $s;
  width: 5px;
  height: 100vh;

  top: 0;
  left: 300px;

  z-index: 999;


  .progress-bar-mobile {
    display: none;
  }

  .progress-bar-desktop {
    position: fixed;
    width: 5px;
    height: 100vh;

    top: 0;
    left: 300px;


    z-index: 999;
  }
}

@media (max-width: 809px) {
  .progress-bar-container {
    position: fixed;
    background-color: #dadada;
    width: 100%;
    height: 5px;

    top: auto;
    left: 0;
    bottom: 60px;


    z-index: 999;

    .progress-bar-desktop {
      display: none;
    }

    .progress-bar-mobile {
      position: fixed;
      height: 5px;

      top: auto;
      left: 0;
      bottom: 60px;

      display: block;
      z-index: 999;
    }
  }
}