@import "../../index.scss";
.user-modal {
  .profile-image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 1rem;

    cursor: pointer;
    user-select: none;

    .text {
      display: flex;
      align-items: end;
      justify-content: end;
      flex-direction: column;

      p {
        font-size: 14px;
        font-weight: 400;
        color: $p;
      }
      span {
        font-size: 14px;
        font-weight: 300;
        color: var(--s);
      }
    }
    img {
      width: 40px;
      height: 40px;

      background-color: #323232;
      border: 1px solid $border;
      border-radius: 100%;

      cursor: pointer;
    }
  }
  .dropdown {
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    right: 200px;
    opacity: 0;
    border-radius: 0.4rem;

    background-color: $p;
    overflow: hidden;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    button {
      width: 100%;

      padding: 1rem;

      color: $p-2;

      outline: none;
      border: none;
      background-color: transparent;

      font-size: 14px;

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      &:hover {
        background-color: $s;

        cursor: pointer;
      }
    }
    a {
      width: 100%;
    }
    svg {
      color: $p;
    }
  }

  .active {
    width: 200px;
    height: 150px;
    top: 70px;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .user-modal {
    .dropdown {
      background-color: $bg;
    }

    .active {
      width: 100%;
      height: 150px;
      top: 100px;
      right: 0;
    }
  }
}
