@import '../../index.scss';

.slide-in {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: $p;
    transform-origin: bottom;
    z-index: 999;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: $p;
    transform-origin: top;
    z-index: 999;
}