@import '../../index.scss';

#user-comments {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .comment-container {
        position: relative;
        width: 100%;
        height: 100%;

        padding: 1rem;

        border: 1px solid $border;
        border-radius: 0.4rem;

        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 2rem;
    }

    .profile-content {

        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;

        p {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $p;
        }

        img {
            width: 25px;
            height: 25px;
            border-radius: 100%;
        }

    }

    .comment-form,
    .reply-form {
        position: relative;
        width: 100%;

        .send-input {
            background-color: $background;
            border-radius: 0.4rem;
            border: 1px solid $border;

            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 100px;

                outline: none;
                border: none;
                background-color: transparent;
                border-radius: 0.4rem;

                color: $p;
                cursor: pointer;
            }

            textarea {
                width: 100%;
                height: 100px;
                padding: 1rem;

                outline: none;
                border: none;
                background-color: transparent;
                border-radius: 0.4rem;
                resize: none;

                font-size: 1rem;
                color: $p;

                &::placeholder {
                    color: $s;
                }
            }
        }
    }
}

@media (max-width:809px) {
    #user-comments {
        position: relative;
        width: 100%;
        height: 100%;

        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .comment-container {
            position: relative;
            width: 100%;
            height: 100%;

            padding: 1rem;

            border: 1px solid $border;
            border-radius: 0.4rem;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 2rem;
        }

        .profile-content {

            position: relative;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;

            p {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $p;
            }

            img {
                width: 25px;
                height: 25px;
                border-radius: 100%;
            }

        }

        .comment-form,
        .reply-form {
            position: relative;
            width: 100%;

            .send-input {
                background-color: $background;
                border-radius: 0.4rem;
                border: 1px solid $border;

                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 100px;

                    outline: none;
                    border: none;
                    background-color: transparent;
                    border-radius: 0.4rem;

                    color: $p;
                    cursor: pointer;
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    padding: 1rem;

                    outline: none;
                    border: none;
                    background-color: transparent;
                    border-radius: 0.4rem;
                    resize: none;

                    font-size: 1rem;
                    color: $p;

                    &::placeholder {
                        color: $s;
                    }
                }
            }
        }
    }
}