@import "../../index.scss";

header {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 18px;
    font-weight: 700;
    color: var(--p);
    text-transform: uppercase;
  }


  nav {
    position: relative;

    text-decoration: none;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    li {
      a {
        color: var(--p);
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          color: var(--p);
        }

        &.active {
          background: var(--bg);
          color: var(--p);
        }
      }
    }
  }
}
