@import "../../index.scss";

#search {
  position: relative;
  width: 100%;
  height: 100%;

  margin: 5rem 0;

  display: flex;
  align-items: start;
  justify-content: start;

  .container {
    position: sticky;
    top: 1rem;
    width: 100%;

    flex-shrink: 0;
    flex: 1 0 0px;

    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;

    h1 {
      color: var(--p);
      font-size: 42px;

      margin-bottom: 1rem;
    }

    a {
      color: var(--p);
      padding: 0.5rem;

      background-color: var(--bg);
      border-radius: 0.5rem;

      font-size: 14px;
      font-weight: 500;

      transition: all 0.3s ease;
      cursor: pointer;
    }
  }

  .posts {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    flex: 2 0 0px;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: 500px;
      border-radius: 1rem;
      margin-bottom: 1rem;
      border: 1px solid var(--border);
    }

    h1 {
      color: var(--p);
      font-weight: 800;
      font-size: 36px;
    }

    p {
      color: var(--s);
      font-weight: 400;
      font-size: 18px;
    }
    .no-result {
      position: relative;
      width: 100%;

      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 3rem;

      span {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
    }

    a {
      color: var(--p);
      padding: 0.5rem;

      background-color: var(--bg);
      border-radius: 0.5rem;

      font-size: 14px;
      font-weight: 500;

      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
}
