.quill {
  width: 100%;
  height: 100%;

  color: var(--p);
  .ql-toolbar {
    color: var(--s);
    border-radius: 0.4rem 0.4rem 0 0;
    display: flex;
    align-items: start;
    justify-content: start;
    border: 0;
    margin-bottom: 2rem;
    button {
      height: 30px;
      padding: 0;

      margin: 0 1rem 0 0;
      padding: 0;
      svg {
        padding: 0;
        font-size: 32px;
        color: var(--s);
      }
    }
  }
  .ql-container {
    width: 100%;
    height: 100%;
    outline: none;

    color: var(--p);
    font-size: 18px;
    border: 0;
    border-radius: 0 0 0.4rem 0.4rem;
  }
  .ql-editor {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding: 1rem;
    &::before {
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      color: var(--s);
    }
    p {
      font-weight: 500;
      font-size: 18px;
      color: var(--p);
    }
  }
}
