@import "../../index.scss";

:root {
    --p: #{$p};
    --s: #{$s};

    --border: #{$border};
    --background: #{$background};
    --bg: #{$bg};
}

.light {
    --p: #{$p2};
    --s: #{$s2};

    --border: #{$border2};
    --background: #{$background2};
    --bg: #{$bg2};
}