@import "../../index.scss";

:root {
  --p: #{$p-d};
  --s: #{$s-d};

  --border: #{$border-d};
  --background: #{$background-d};
  --bg: #{$bg-d};
  --bg-2: #{$bg-d-2};
}

.light {
  --p: #{$p-l};
  --s: #{$s-l};

  --border: #{$border-l};
  --background: #{$background-l};
  --bg: #{$bg-l};
  --bg-2: #{$bg-l-2};
}
