@import '../../index.scss';

#topic-selection {
    position: relative;
    width: 100%;

    padding: 0 300px;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .topics-text {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        h1 {
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.02em;
            line-height: 64px;
            color: $p;
        }

    }


    .topic-container {
        position: relative;
        width: 100%;

        padding: 0 300px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;

        gap: 3rem;

        .topic {
            width: 300px;
            height: fit-content;

            padding: 0 1rem;

            h3 {
                letter-spacing: 1px;
                font-weight: 800;
                font-size: 24px;
                text-transform: uppercase;
                margin: 2rem 0;
            }

            ul {
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                gap: 1rem;

                a {
                    font-weight: 400;
                    font-size: 16px;
                    color: $p;
                }
            }
        }
    }
}

@media (max-width:809px) {
    #topic-selection {
        position: relative;
        width: 100%;

        padding: 0 20px;


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .topic-head {
            width: 100%;
            margin: 5rem 0;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;

            gap: 1rem;

            span {
                font-family: "PT Serif Caption", serif;
                letter-spacing: 1px;
                font-weight: 700;
                font-size: 22px;
                text-transform: uppercase;
            }

            .border-trending {
                width: 100%;
                height: 1px;
                background-color: $p;
                opacity: .3;
            }
        }

        .topic-container {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-wrap: wrap;
            gap: 2rem;

            .topic {
                width: 100%;
                height: 100%;

                padding: 1rem;

                h3 {
                    letter-spacing: 1px;
                    font-weight: 800;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin: 2rem 0;
                }

                ul {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    gap: 1rem;

                    a {
                        font-weight: 400;
                        font-size: 16px;
                        color: $p;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}