@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$p: #333333;
$p-2:#ffffff;
$s: #616161;
$background: #ffffff;

$border: #d1d1d1;
$bg: #cecece;
$bg-2: #d8d8d8;

$special: #0766e2;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $p;
  overflow-x: hidden;
}

progress {
  width: 100%;
  background-color: $bg;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  image-rendering: optimizeSpeed;
}

.error {
  color: #f00;
}

::selection {
  background-color: #b4b4b4;
  color: $p;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $s;
  border-radius: 1px;
}

.Toastify__toast-theme--light {
  background-color: $bg;
  color: $p;
  .Toastify__close-button--light {
    color: $p;
  }
}
