@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
// Modo escuro
$p-d: #f0f0f0;
$s-d: #adadad;
$background-d: #121212;

$border-d: #262626;
$bg-d: #2a2a2a;
$bg-d-2: #1f1f1f;

// Modo claro
$p-l: #333333;
$s-l: #616161;
$background-l: #ffffff;

$border-l: #d1d1d1;
$bg-l: #cecece;
$bg-l-2: #d8d8d8;

$special: #0766e2;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--p);
  overflow-x: hidden;
}

progress {
  width: 100%;
  background-color: var(--bg);
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  image-rendering: optimizeSpeed;
}

.error {
  color: #f00;
}

::selection {
  background-color: #b4b4b4;
  color: var(--p);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--s);
  border-radius: 1px;
}

.Toastify__toast-theme--light {
  background-color: var(--bg);
  color: var(--p);
  .Toastify__close-button--light {
    color: var(--p);
  }
}
