@import "../../index.scss";

#create-post {
  position: relative;
  width: 100%;
  height: 100%;

  margin: 1rem 0;
  padding: 0 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  .container {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    h1 {
      color: var(--p);
      font-weight: 700;
      font-size: 36px;

      letter-spacing: -1px;
    }

    p {
      color: var(--s);
      font-weight: 400;
      font-size: 18px;
      max-width: 80%;
      margin-bottom: 3rem;
    }
  }

  form {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    input {
      width: 100%;
      height: 100%;

      outline: none;
      background-color: transparent;
      border: none;

      font-size: 64px;
      font-weight: 700;
      letter-spacing: -1px;
      color: var(--p);
      &::placeholder {
        font-size: 64px;
        color: var(--s);
      }
    }
    .image-select {
      position: relative;
      width: 100%;

      display: flex;
      align-items: center;
      gap: 1rem;

      .prf-file {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 1rem;

        outline: none;
        border: none;
        border-radius: 0.4rem;
        background-color: transparent;
        border: 1px solid var(--border);

        color: var(--p);
        font-weight: 400;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        svg {
          color: var(--s);
        }
      }
      select {
        width: 100%;
        height: 40px;
        padding: 0 1rem;

        outline: none;
        background-color: transparent;
        border-radius: 0.4rem;
        border: 1px solid var(--border);

        font-size: 1rem;
        color: var(--p);
        option {
          color: var(--p);
          background-color: var(--bg);
        }
      }
    }
    .btn {
      position: fixed;
      right: 60px;
      bottom: 60px;
      width: 80px;
      height: 80px;

      background-color: var(--border);
      border: 1px solid var(--bg-2);
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    @keyframes round {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 992px) {
  @import "../../index.scss";

  #create-post {
    position: relative;
    width: 100%;
    height: 100%;

    margin: 1rem 0;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .container {

      h1 {
        color: var(--p);
        font-weight: 700;
        font-size: 36px;

        letter-spacing: -1px;
      }

      p {
        color: var(--s);
        font-weight: 400;
        font-size: 18px;
        max-width: 80%;
        margin-bottom: 3rem;
      }
    }

    form {
      input {
        font-size: 42px;
        &::placeholder {
          font-size: 42px;
        }
      }
      .btn {
        right: 20px;
        bottom: 20px;
      }
    }
  }
}
